extends layout

block content
    h1= title
    div
        p
            | new link
            input(name='url', placeholder='URL')
            input(name='title', placeholder='Title')
            input(name='submit' type='button', value='Post!')

    table
        thead
            tr
                th(class='dataColumn') Title
                th(class='dataColumn') Rank
                th(class='dataColumn') User
                th(class='dataColumn') Date
        tbody
            - var i=0
            each link in links
                - i++
                tr(id=('id_' + i))
                    td
                        a(href="#{link.url}").
                            #{link.title}
                    td #{link.rank}
                    td #{link.user}
                    td #{link.date}
