extends layout

block content
    h1= title
    table
        thead
            tr
                th(class='dataColumn') Title
                th(class='dataColumn') Rank
                th(class='dataColumn') User
                th(class='dataColumn') Date
        tbody
            - var i=0
            each link in links
                - i++
                tr(id=('id_' + i))
                    td #{link.title}
                    td #{link.rank}
                    td #{link.user}
                    td #{link.date}

